@font-face {
    font-family: nyt-cheltenham-italic;
    src: url("../assets/fonts/cheltenham-italic-700.ttf");
}

@font-face {
    font-family: nyt-franklin;
    src: url("../assets/fonts/franklin-normal-700.ttf");
}

@font-face {
    font-family: nyt-imperial;
    src: url("../assets/fonts/imperial-normal-500.ttf");
}

/* 
    BODY/APP
*/

.app {
    background-color: rgb(255, 255, 255);
}

/* 
    HEADER
*/
header {
    border-bottom: 1px solid rgb(226, 226, 226);
}

header section {
    padding: 4px 15px 2px 15px;
    margin: 0 auto;
}

header .menu-search {
    display: inline-flex;
}

header .menu-search-btn{
    padding: 8px 9px 9px 9px;
    margin-right: 8px;
    border: none;
    cursor: pointer;
}

header .menu-search-btn img{
    display: block;
    height: 16px;
    width: 16px;
    line-height: 11px;
}

header .section-label {
    display: inline;
    /* position: absolute;
    left: 105px;
    line-height: 19px;
    top: 10px; */
}

header .section-label a {
    font-family: nyt-franklin;
    font-size: 14.25px;
    letter-spacing: 0.7px;
    line-height: 19px;
    text-decoration: none;
    color: black;
}

header .section-label a:hover {
    text-decoration: underline;
}


